

body{
	font-family: arial;
	background: linear-gradient(110deg, #EDF2F4 60%, #EF233C 40%);
}
.weather-container
{
	background-color: #2B2D42;
	width: 50%;
	min-height: 150px;
	padding: 5%;
	margin: 0 auto;
	color: white;
	margin-top: 5%;
	padding-top: 4%;
	padding-bottom: 2%;
}


.search
{
	text-align: center;
	width: 90%;
	padding: 4%;
	background-color: #EDF2F4;
	display: grid;
	grid-template-columns: 50% 50%; 
	margin: 0 auto;

}
.search input{
	text-align: center;
	padding: 5%;
	border-radius: 3px;
	width: 100%;
	font-size: 1.5em;
	border: 0px;
}

.weather-container button
{
	padding: 7%;
	border-radius: 4px;
	border:0px;
	font-size: 1.5em;
	cursor: pointer;
	color: white;
	background-color: #2B2D42;
	
}
.display-temperature
{
	display: grid;
	grid-template-columns: 50% 50%;
}

.hidden
{
	display: none;
}

@media only screen and (max-width: 900px) {
	.weather-container
	{
		width: 90%;
	}
  .search {
    width: 94%;
    grid-template-columns: 100%; 
    grid-gap: 5%;
  }
  .weather-container button
  {	
  	padding: 3%;
  	font-size: 1.5em;
  	width: 98%;

  }
  .search input{
  	width: 90%;
  	padding: 4%;
  }
  body{
	background: linear-gradient(110deg, #EDF2F4 50%, #EF233C 50%);
}
}